* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
i {
  pointer-events: none;
}
body {
  position: relative;
  background-size: 100%;
  background-image: url(./pic/jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  z-index: -10;
  background-repeat: no-repeat;
  background-attachment: fixed;

  div.imgfilter {
    top: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.199);
  }
}

header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    letter-spacing: 0.2rem;
  }
}
footer {
  div.footer {
    display: flex;
    justify-content: center;
    margin: 4rem;
  }
}
form {
  margin: 0% 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  input {
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.2rem;
    margin: 0.2rem;
  }
  input[type="number"] {
    width: 55px;
    appearance: none;
  }
  input[type="number"] {
    appearance: textfield;
  }
  button {
    background-color: #dbbaba;
    height: 32px;
    padding: 0px 0.8rem;
    font-size: 1.2rem;
    margin: 0.4rem;
    border: none;
  }
  button:hover {
    cursor: pointer;
    background-color: rgb(233, 203, 203);
  }
}
main {
  div.sort {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      background-color: #dbbaba;
      height: 32px;
      padding: 0px 0.8rem;
      border: none;
      font-size: 1.2rem;
    }
    button:hover {
      cursor: pointer;
      background-color: rgb(233, 203, 203);
    }
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    div.todo {
      width: 470px;
      display: flex;
      align-items: center;
      margin: 0.2rem 0rem;
      p {
        background-color: white;
        color: black;
        padding: 0.25rem 0.5rem;
        font-size: 1.2rem;
      }
      p.todo-text {
        width: 90%;
      }
      p.todo-time {
        width: 20%;
        text-align: center;
      }
      button {
        padding: 0.25rem 0.5rem;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        color: white;
      }
      button.complete {
        background-color: #6adf6f;
      }
      button.delete {
        background-color: #ff5656;
      }
    }
  }
}
.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

@media screen and (max-width: 900px) {
  body {
    background-size: 120vw;
    background-position: center;
  }
}
@media screen and (max-width: 750px) {
  body {
    background-size: 200vw;
    background-position: center right;
  }
}
@media screen and (max-width: 550px) {
  form {
    input[type="text"] {
      width: 450px;
    }
  }
  main {
    section {
      div.todo {
        width: 400px;
        p.todo-text {
          width: 60%;
        }
        p.todo-time {
          width: 20%;
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  body {
    background-size: 1250px;
    background-position: top right;
  }
  main {
    section {
      div.todo {
        width: 270px;
        p.todo-text {
          width: 70%;
        }
        p.todo-time {
          width: 40%;
          text-align: center;
        }
      }
    }
  }

  form {
    input[type="text"] {
      width: 350px;
    }
  }
}
@media screen and (min-width: 1024px) and (min-height: 1366px) {
  body {
    background-image: url(./pic/fa-barboza-aELhF1a684k-unsplash.jpg);
    background-attachment: fixed;
  }
}
@media screen and (min-width: 768px) and (min-height: 1024px) {
  body {
    background-image: url(./pic/fa-barboza-aELhF1a684k-unsplash.jpg);
    background-attachment: fixed;
  }
}
@keyframes scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaledown {
  to {
    transform: scale(0);
  }
}
